/* body {
  margin: 0px;
  padding: 0px;
  font-size: 35px;
}
#grid {
  display: flex; */

/* justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly; */
/* text-align: center; */
/* flex-direction: row -reverse; */
/* justify-content: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  column-gap: 2.5vw;
}
#header {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 10vh;
}
#box1 {
  background-color: red;
  width: 30vw;
  height: 30vh;
}
#box2 {
  background-color: blue;
  width: 30vw;
  height: 30vh;
  height: 30vh;
}
#box3 {
  background-color: green;
  width: 30vw;
  height: 30vh;
}
#box4 {
  background-color: yellow;
  width: 30vw;
  height: 30vh;
}
#box5 {
  height: 30vh;
  background-color: pink;
  width: 30vw;
}
@media only screen and (max-width: 480px) {
  #box2 {
    background-color: brown;
  }
} */
